@import "variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #111;

	h1 {
		color: $main-color;
		margin-bottom: 1rem;
	}

	p {
		color: $main-color;
	}

	.photos {
		// display: grid;
		// grid-template-columns: repeat(5, 1fr);
		// display: flex;
		// flex-direction: row;
		// gap: 1rem;
		// flex-wrap: wrap;
		// align-items:start;

		// img {
		// 	width: 200px;

		// }

		display: flex;
		align-items: start;
		gap: $flex-gap;
		width: 100vw;

		div {
			display: flex;
			flex-direction: column;
			gap: $flex-gap;
		}

		div img:nth-child(2) {
			border-radius: 15px;
			box-shadow: 3px 3px 13px blue;
		}

		div img:nth-child(3) {
			border-radius: 15px;
			box-shadow: 3px 3px 13px yellow;
		}

		div img:nth-child(4) {
			border-radius: 15px;
			box-shadow: 3px 3px 13px red;
		}

		img {
			width: 15vw; 
		}
	}


}